PORT=4000
TON_CENTER_API=https://testnet.toncenter.com/api/v2/jsonRPC
TON_CENTER_API_KEY=
TON_ORACLE_PRIVATE_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_PAYOUT_ACCOUNT=
PAYOUT_POOL_USD=1000
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=alerts@inheritor.app

